body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
*{
  margin: 0;
  padding: 0;
}
.firstdiv{
  background-color: #FAF5E9;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 15px;
  width: 100%;
  height: 100vh;
}
.welcome-text{
  /* margin: 10px; */
  /* margin-top: 25px; */
  padding: 20px;
  color: #FAF5E9;
  font-size: xx-large;
 width: 100%;
 text-align: center;
 background-color: #970747;
}